- if Book.is_registered?(book[:isbn])
  .book__right__option__disable
    書架に登録済みです
- else
  .book__right__option__add{id: "candidate_#{id}"}
    .book__right__option__info{id: "candidate_#{id}", type: 'hidden', url: book[:link_url]}
    = fa_icon 'plus'
    書架に追加
