$tmp_bgcolor: #ccc;

$menu_bgcolor: rgb(167, 126, 74);

$book_bgcolor: rgb(208, 250, 221);
$book-right-info-content_bgcolor: rgb(186, 231, 200);
$book-link_bgcolor: #aaa;

$menu_width: 300px;
$book_width: 800px;
$book_padding: 10px;
$left-image_width: 200px;
$left-image_height: 200px;
