@import "main";

.books {
  width: calc(100% - #{$menu_width});
  height: 100vh;
  padding: 0 10px;
  overflow: scroll;

  .book {
    background-color: $book_bgcolor;
    width: $book_width;
    margin: 10px auto;
    padding: $book_padding;
    display: flex;

    &__left {
      &__image {
        width: $left-image_width;
        height: $left-image_height;
        text-align: center;
      }
    }
    &__right {
      margin-left: 10px;

      &__info {
        width: calc(#{$book_width} - #{$book_padding} - #{$left-image_width});

        &--title {
          @include book-info-content();
        }
        &--author {
          @include book-info-content();
        }
        &--publisher {
          @include book-info-content();
        }
        &--isbn {
          @include book-info-content();
        }
        .caption {
          width: 100px;
        }
        .content {
          width: 100%;
        }
      }
      &__option {
        width: 100%;
        margin-top: -3px;
        display: flex;
        justify-content: space-between;

        &__evaluation {
          font-size: 0.8rem;
          margin: 2px 0 0 10px;
          display: flex;

          &--positive {

          }
          &--negative {
            margin-left: 20px;
          }
          .icon {
            font-size: 1.2rem;
          }
        }
        &__bookmark {
          &--enable {
            @include link-button();
          }
          &--disable {
            @include tmp-button();
          }
        }
        &__edit {
          @include tmp-button();
        }
        &__link {
          display: flex;
          justify-content: space-between;
          &--rakuten {
            @include link-button();
          }
          // &--amazon {
          //   margin-left: 10px;
          //   background-color: $tmp_bgcolor;
          // }
        }
        &__add {
          @include link-button();
        }
      }
    }
  }
}
