@import "main";

.menu {
  background-color: $menu_bgcolor;
  width: $menu_width;
  height: 100vh;
  &__title {
    background-color: $menu-title_bgcolor;
    padding: 0 10px;
    box-sizing: border-box;
    border: solid 1px;
    font-size: 1.6rem;
    line-height: 3;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    &__left {
      display: inline;
    }
    &__icon {
      display: inline;
    }
    &__right {
      display: inline;
    }
  }
  &__user {
    padding: 10px;

    &__name {

    }
    &__sign-in {
      @include menu-button();

      &__icon {
        font-size: 1.5rem;
      }
    }
    &__sign-up {
      @include menu-button();
    }
    &__book-shelf {
      @include menu-button();
    }
  }
  &__search-form {
    &__group {
      border: dotted 1px;
      background-color: $menu_search-form_group_bgcolor;
      margin: 0 10px;
      margin-top: 40px;
      padding: 0 0 10px 5px;
      &__caption {
      }
    }
    &__field {
      padding: 3px 0 3px 3px;
      &__caption {
        width: 60px;
        display: inline-block;
      }
      &__input {
        display: inline-block;
        
      }
    }
    &__find-btn {
      display: block;
      margin: 5px 10px 0 auto;
    }
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}